

#textarea-input
{
    display:block;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    width:650px;
    height:10vh;
}
#output-area
{
    margin-top: 1rem;
    display:block;
    padding: 1rem 1rem;
    width:650px;
    height:10vh;
    border: 1px solid black;
}
